{% extends "base.html" %}

{% block content %}

<form method="POST">
    {% csrf_token %}

    <div class="form-group">
        {{ user_form.username.errors }}
        <label>Usuario:</label>
        {{ user_form.username }}
    </div>

    <div class="form-group">
        {{ user_form.password1.errors }}
        <label>senha:</label>
        {{ user_form.password1 }}
    </div>
    <div class="form-group">
        {{ user_form.password2.errors }}
        <label>Confirma senha:</label>
        {{ user_form.password2 }}
    </div>

    <div class="form-group">
        <input type="submit" value="Cadastrar">
    </div>

</form>

{% endblock %}